html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  display: block;
}
.container {
  max-width: 78.75rem;
  background: #fff;
  margin: 0 auto;
  width: 100%;
}

.page-wrap {
  -webkit-transition: left 400ms cubic-bezier(0.16, 0.04, 0.14, 1);
  transition: left 400ms cubic-bezier(0.16, 0.04, 0.14, 1);
  position: relative;
  left: 0;
}

.content-main:after,
.content--wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.content-main--inner {
  padding: 0rem 0.625rem 1rem 0.625rem;
}

.content-main--inner:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 48em) {
  .content-main {
    box-shadow: 0 0 4px 1px #dedfe4;
  }

  .content-main:not(.is--small) {
    min-height: 750px;
    min-height: 46.875rem;
  }

  .content-main--inner {
    padding: 0rem 1.875rem 1rem 1.875rem;
    width: 100%;
  }
}

@media screen and (min-width: 78.75em) {
  .content-main {
    margin-top: 1.25rem;
    margin-bottom: 2.8125rem;
  }

  .content-main:not(.is--small) {
    min-height: 700px;
    min-height: 43.75rem;
  }

  .content-main--inner {
    padding: 0rem 3.125rem 3.125rem 3.125rem;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #1b243a;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  color: #0199cb;
  text-decoration: none;
  transition: color 200ms;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}

h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin: 2.125rem 0rem 1.25rem 0rem;
  color: #1b243a;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0rem 0rem 0.9375rem 0rem;
}

.page-wrap {
  min-width: 20rem;
}

.content-main,
.content--wrapper {
  box-shadow: none;
}

.content-main:after,
.content--wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.content-main--inner {
  box-shadow: none;
}

.content {
  width: 100%;
  float: left;
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 2.5rem;
  }

  .content-main {
    min-height: 46.875rem;
    margin-bottom: 1.25rem;
  }

  .content-main--inner {
    padding: 0rem 0.625rem 0rem 0.625rem;
    width: 100%;
  }
}

@media screen and (min-width: 78.75em) {
  .content-main {
    margin-top: 1.25rem;
    margin-bottom: 2.8125rem;
    min-height: 43.75rem;
  }

  .content-main--inner {
    padding: 0;
  }
}

.headline-dash--wrapper {
  text-align: center;
}

.headline-dash--wrapper:after {
  content: "";
  display: inline-block;
  margin-top: 30px;
  margin-top: 1.875rem;
  margin-bottom: 15px;
  margin-bottom: 0.9375rem;
  padding: 3px 40px 3px 40px;
  padding: 0.1875rem 2.5rem 0.1875rem 2.5rem;
  font-size: 0;
  line-height: 0;
  background: #fec700;
}

.page-wrap {
  overflow-x: hidden;
}

.content--bonussystem .bonussystem--boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content--bonussystem .bonussystem--boxes .box {
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 1.25rem 0rem 1.25rem 0rem;
  border-bottom: 1px solid #dedfe4;
  text-align: center;
}

.content--bonussystem .bonussystem--boxes .box.box--description {
  width: 100%;
  padding: 0rem 0rem 2.5rem 0rem;
  text-align: left;
}

.content--bonussystem .bonussystem--boxes .box.box--description p {
  font-size: 1.125rem;
}

.content--bonussystem .bonussystem--boxes .box .description--text {
  width: 100%;
}

.content--bonussystem .bonussystem--boxes .box .description--table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content--bonussystem .bonussystem--boxes .box .description--table .table-thead,
.content--bonussystem .bonussystem--boxes .box .description--table .table-tr {
  display: flex;
  justify-content: space-between;
}

.content--bonussystem .bonussystem--boxes .box .description--table .table-td {
  width: 32.5%;
  border: 1px solid #dedfe4;
  padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  text-align: center;
  margin-bottom: 0.3125rem;
}

.content--bonussystem
  .bonussystem--boxes
  .box
  .description--table
  .table-thead
  .table-td {
  background: #1b243a;
  color: #fff;
}

.content--bonussystem .bonussystem--boxes .box .box--image {
  width: 100%;
}

.content--bonussystem .bonussystem--boxes .box .box--image img {
  display: inline-block;
}

.content--bonussystem .bonussystem--boxes .box .box--title {
  text-transform: uppercase;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1.125rem;
}

.content--bonussystem .bonussystem--boxes .box .box--title span {
  color: #fec700;
}

.content--bonussystem .bonussystem--boxes .box .box--text {
  font-size: 1rem;
}

@media screen and (min-width: 48em) {
  .content--bonussystem {
    text-align: center;
  }

  .content--bonussystem .bonussystem--boxes {
    margin-top: 1.25rem;
  }

  .content--bonussystem .bonussystem--boxes .box {
    width: 32.25%;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid #dedfe4;
  }

  .content--bonussystem .bonussystem--boxes .box.box--description {
    width: 100%;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    display: flex;
    justify-content: space-between;
  }

  .content--bonussystem .bonussystem--boxes .box .description--text {
    width: 55%;
  }

  .content--bonussystem .bonussystem--boxes .box .description--table {
    width: 40%;
  }

  .content--bonussystem .bonussystem--boxes .box .description--table .table-td {
    width: 32.5%;
  }
}